{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
    set classes = [
    'container-fluid',
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'lb-statistics-block',
]
%}

{{ attach_library('lb_statistics/lb_statistics') }}
{% set statistic_id = 'lb-statistics-' ~ configuration['block_revision_id'] %}

<div{{ attributes.addClass(classes).setAttribute('id', plugin_id|clean_class ~ configuration['block_revision_id']) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
        <div id="{{ statistic_id }}">
            {% if block_content.field_section_title or block_content.field_section_subtitle %}
                <div class="d-flex justify-content-start justify-content-md-center">
                    <div class="col-12 col-lg-8 section-header text-md-center">
                        {% if block_content.field_section_title %}
                            <h2>{{ block_content.field_section_title.value }}</h2>
                        {% endif %}
                        {% if block_content.field_section_subtitle %}
                            <p>{{ block_content.field_section_subtitle.value }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if block_content.field_cta.uri %}
              <div class="cta d-flex justify-content-start justify-content-md-center">
                <div class="col-auto px-2 cta-link my-0 my-md-2">
                  <a href="{{ block_content.field_cta.0.url }}" class="btn btn-secondary filled">
                    {{ block_content.field_cta.title }}
                  </a>
                </div>
              </div>
            {% endif %}
                <div class="wrapper--statistic-content container">
                  {% if block_content.field_media.entity.field_media_image.entity.uri.value %}
                    {% set media_image = block_content.field_media.entity.field_media_image.entity.uri.value %}
                    {% set image_alt = block_content.field_media.entity.field_media_image.entity.alt %}
                  {% endif %}
                  {% if media_image %}
                    {% set image = file_url(media_image|image_style('statistics_image')) %}
                  {% endif %}
                  {% if image %}
                    <div class="row statistics-img-wrapper">
                      <img src="{{ image }}" alt="{{ image_alt }}">
                    </div>
                  {% endif %}
                    <div class="stats row justify-content-center">
                      {% if items %}
                        {% for key, item in items %}
                            {% set safe_hash = configuration['block_revision_id'] ~ '--' ~ loop.index %}

                            {% set pp_attr = create_attribute() %}
                            {%
                                set pp_classes = [
                                'statistic-item',
                                'col',
                                'text-center',
                            ]
                            %}

                            <div{{ pp_attr.addClass(pp_classes) }}>
                              <div class="item-content d-flex flex-column justify-content-center">
                                <div class="inner d-flex flex-column justify-content-center align-items-center px-4">
                                  {% if item.number %}
                                    <div class="g-0 h2 statistics-count">
                                      {# Optionally add: data-duration="" to change the count speed from the default 3000ms. #}
                                      {{ item.prefix }}<span class="js-count" data-count="{{ item.number }}">0</span>{{ item.suffix }}
                                    </div>
                                  {% endif %}
                                  {% if item.description %}
                                    <p class="description">{{ item.description|raw }}</p>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                </div>
        </div>
    {% endblock %}

</div>
